.footer {
    background-color: grey;
    color: lightgrey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.container {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.thumbnail-margin {
    float: left;
    margin: 0 1em 0 0;
}

.thumbnail {
    float: left;
    margin: 0 1em 1em 0;
    width: 100%;
}

.background {
    background-color: lightgrey;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    float: left;
    margin: 0 1em 1em 0;
}

.centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    width: 100%;
    padding: 8px;
}